body{
    padding: 20px;
}
button {
    cursor: pointer;
}
.images {
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.image-item {
    border-radius: 10px;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
@media screen and (max-width: 1023px) {
    .images {
        grid-template-columns: unset;
        grid-auto-flow: column;
        grid-auto-columns: 80%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        padding: 25px;
        scroll-padding: 25px;
        margin-left: -25px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .images::-webkit-scrollbar {
        display: none;
    }
    .image-item {
        scroll-snap-align: start;
    }
}