body{
    padding: 20px;
}
button {
    cursor: pointer;
}
.images {
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.image-item {
    border-radius: 10px;
    height: 220px;
}
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}