body{
    padding: 20px;
}
button {
    cursor: pointer;
}
.images {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-gap: 30px;
    /* grid-template-columns: repeat(auto-fix, value); */
    /* grid-template-columns: repeat(auto-fill, value); */
    /* minmax(200px, 1fr) */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
}
.image-item {
    border-radius: 10px;
    height: 300px;
}
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
/* @media screen and (max-width: 1279px) {
    .images {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 1023px) {
    .images {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .images {
        grid-template-columns: repeat(1, 1fr);
    }
} */